body {
    background: linear-gradient(to bottom, hsl(186, 100%, 87%), #ffd8d8);
    min-height: 100vh; 
    background-attachment: fixed; 
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.accounts-container {
    width: 100%;
    max-width: 400px;
    margin: 7% auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 25px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
}

.form-container input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
    outline: none;
}

.form-container input:focus {
    border: 2px solid #008000;
}

.form-container button:not(.link-button) {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.form-container button:not(.link-button):hover {
    background-color: #0056b3;
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.logout-button:hover {
    background-color: #c9302c;
}

p {
    margin-top: 15px;
    color: #333333;
}

.message {
    font-weight: bold;
    margin-bottom: 15px;
    color: #007bff;
}

.error-message {
    color: #d9534f;
    font-weight: bolder;
}

.success-message {
    color: #d9534f;
    font-weight: bolder;
}

.link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: inherit;
    display: inline;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

.link-button:hover {
    background-color: transparent;
    color: #0056b3;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #5a6268;
}

.edit-profile-button {
    padding: 10px;
    border: 1.25px solid;
    border-radius: 15px;
    font-weight: bolder;
    background-color: #5a6268;
}

.edit-profile-button:hover {
    cursor: pointer;
    background-color: #008000;
    color: #ffffff;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    margin: 0; 
    width: 45%;
}
